
@{
    ViewBag.Title = "Dashboard Subcontdev Progress";
}

<h2>Dashboard Subcontdev Progress</h2>

<iframe width="100%" height="100%" src="https://app.powerbi.com/reportEmbed?reportId=80f83ebf-e90f-4a29-8274-541a752423d0&autoAuth=true&pageName=ReportSectionec40633178b4e8a90d11&$filter&navContentPaneEnabled=false&filterPaneEnabled=false
" } frameborder="0" allowFullScreen="true" navContentPaneEnabled="false"></iframe>
