
@{
    ViewBag.Title = "Dashboard Command Center Alert";
}

<h2>Dashboard Command Center Alert</h2>

<iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=80f83ebf-e90f-4a29-8274-541a752423d0&autoAuth=true&pageName=ReportSection8cfecee7a068e54b347c&$filter&navContentPaneEnabled=false&filterPaneEnabled=false
"
        } frameborder="0" allowFullScreen="true" navContentPaneEnabled="false"></iframe>
