
@{
    ViewBag.Title = "Dashboard Command Center PO Tracking";
}

<h2>Dashboard Command Center PO Tracking</h2>

<iframe width="100%" height="100%" src="https://app.powerbi.com/reportEmbed?reportId=80f83ebf-e90f-4a29-8274-541a752423d0&autoAuth=true&pageName=ReportSection035119cc74601b5d1603&$filter&navContentPaneEnabled=false&filterPaneEnabled=false
"
        } frameborder="0" allowFullScreen="true" navContentPaneEnabled="false"></iframe>
