<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <!--<add key="Source" value="D:\tes" />
      <add key="Destination" value="D:\tes\exe" />-->
      <add key="Source" value="C:\SyncDataPOTracking\DataHistoryPOTracking" />
      <add key="Destination" value="C:\SyncDataPOTracking\Data" />
      <add key="FileName" value="test.csv" />
    </appSettings>
    <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>