
@if (Request.IsAuthenticated)
{
    ViewBag.Role = Model;
    @*<input id="roleNotification" name="roleNotification" type="hidden" class="form-control form-control-lg filter-search with-icon" placeholder="Search No. PO" value="@ViewBag.Role" />*@
    <input id="role" name="role" type="text" class="form-control form-control-lg filter-search with-icon" placeholder="Search No. PO" value="@ViewBag.Role" />
    <script type="text/javascript">
        Date.prototype.newDateFormatMMDD = function () {
            const months = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
            var dd = this.getDate();

            var mm = this.getMonth();
            var yyyy = this.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }

            //if (mm < 10) {
            //    mm = '0' + mm;
            //}
            //return dd + "/" +mm + "/" + yyyy;
            return months[mm] + " " + dd;
        }

        function parseURLParams(url) {
            var queryStart = url.indexOf("?") + 1,
                queryEnd = url.indexOf("#") + 1 || url.length + 1,
                query = url.slice(queryStart, queryEnd - 1),
                pairs = query.replace(/\+/g, " ").split("&"),
                parms = {}, i, n, v, nv;

            if (query === url || query === "") return;

            for (i = 0; i < pairs.length; i++) {
                nv = pairs[i].split("=", 2);
                n = decodeURIComponent(nv[0]);
                v = decodeURIComponent(nv[1]);

                if (!parms.hasOwnProperty(n)) parms[n] = [];
                parms[n].push(nv.length === 2 ? v : null);
            }
            return parms;
        }

        $(document).ready(function () {
            var role = $("#role").val();
            //var role = $("#roleNotification").val();
            //if (role == 1) {
            //   $("#role").val("admin")
            //} else if (role == 2) {
            //    $("#role").val("procurement")
            //} else if (role == 3) {
            //    $("#role").val("vendor")
            //}
            var url = window.location;
            var objectURL = parseURLParams(window.location.toString());
            //if (typeof (objectURL['activeStage']) === "undefined" || typeof (objectURL['activeStage']) === "NaN") {
            if (objectURL && objectURL['activeStage']) {
                var activeStage = objectURL['activeStage'];
                if (activeStage == "2a") {
                    activeStage = 3;
                } else if ((path.toLowerCase().indexOf("local") > -1 || path.toLowerCase().indexOf("import") > -1) && activeStage > 2) {
                    activeStage = parseInt(activeStage) + 1;
                }
                paginationShow(activeStage);
            }

            $.ajax({
                type: "GET",
                url: "@Url.Action("/GetNotificationByRole", "Home")",
                data: { 'role': role },
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                success: function (response) {
                    if (response.responseCode == "200") {
                        //console.log(response.notifications);
                        var jsonObj = $.parseJSON(response.notifications);
                        var message = "";
                        countNotification = Object.keys(jsonObj).length;
                        if (countNotification > 0){
                            $(".user-info-notification__count").text(countNotification);
                            $(".user-info-notification__count").show();
                        } else {
                            $(".user-info-notification__count").hide();
                        }

                        for (var k in jsonObj) {
                            //var status = jsonObj[k]['status'].toLowerCase();
                            var statusID = jsonObj[k]['statusID'];
                            var className = "fas fa-check-circle approved";
                            if (statusID == 1){
                                className = "fas fa-exclamation-circle important";
                            } else if (statusID ==2){
                                className = "fas fa-times-circle rejected";
                            }

                            var POTypeCategory = "";
                            if (jsonObj[k]['POImport'] == true) {
                                POTypeCategory = "Import";
                            } else if (jsonObj[k]['POLocal'] == true){
                                POTypeCategory = "Local";
                            } else if (jsonObj[k]['POSubcont'] == true) {
                                POTypeCategory = "Subcont";
                            }
                            var PONumber = jsonObj[k]['PONumber'].toLowerCase();
                            var POQty = jsonObj[k]['POQty'];
                            var material = jsonObj[k]['material'];
                            var targetRole = jsonObj[k]['role'].toLowerCase();
                            var assignedFrom = "Vendor";
                            if (targetRole == "vendor") {
                                assignedFrom = "Procurement";
                            }
                            var GRDate = jsonObj[k]['GRDate'];
                            var GRQty = jsonObj[k]['GRQty'];
                            var created = jsonObj[k]['created'];
                            var stage = jsonObj[k]['stage'];
                            var confirmedItem = jsonObj[k]['POConfirmedItem'];
                            var countEtaHistory = jsonObj[k]['CountEtaHistory'];
                            var confirmFirstETA = jsonObj[k]['ConfirmFirstETA'];
                            var proformaInvoice = jsonObj[k]['ProformaInvoice'];
                            var confirmedPaymentReceive = jsonObj[k]['ConfirmedPaymentReceive'];
                            var secondETAHistory = jsonObj[k]['SecondETAHistory'];
                            var countProgressPhotos = jsonObj[k]['CountProgressPhotos'];
                            var shipmentATD = jsonObj[k]['ShipmentATD'];
                            var shipmentBookingDate = jsonObj[k]['ShipmentBookingDate'];
                            var shipmentCopyBLDate = jsonObj[k]['ShipmentCopyBLDate'];
                            var shipmentATA = jsonObj[k]['ShipmentATA'];
                            var invoiceDocument = jsonObj[k]['InvoiceDocument'];
                            created = new Date(created);
                            //var url = "~/" + POTypeCategory + "?searchData=" + PONumber + "&filterBy=poNumber&role=" + targetRole.toLowerCase() + "&activeStage=" + stage;

                            if (POTypeCategory == "Import") {
                                var url = siteUrl + "/" + POTypeCategory + "/Index" + "?searchPONumber=" + PONumber + "&activeStage=" + stage;
                                message = "";
                            }
                            else if (POTypeCategory == "Local") {
                                var url = siteUrl + "/" + POTypeCategory + "/Index" + "?searchPONumber=" + PONumber + "&activeStage=" + stage;
                                message = "";
                            }

                            else {
                                var url = siteUrl + "/" + POTypeCategory + "/Index" + "?searchData=" + PONumber + "&filterBy=poNumber&role=" + targetRole.toLowerCase() + "&activeStage=" + stage;
                                message = "";
                            }


                            /*------------------------------------------------------------------IMPORT----------------------------------------------------------*/
                            if (POTypeCategory == "Import") {
                                if (GRDate != null) {
                                    message += " has confirmed " + GRDate + " for item " + material + " from <a href='" + url + "' class='third-text'>PO" + PONumber + "</a> for Qty: " + GRQty + " (10/10)";
                                }else if (stage == "1") {
                                    if (confirmedItem == true) {
                                        message += " has approved item " + material + " from <a href= '" + url + "' class='third-text'> PO " + PONumber + "</a >, please proceed to update ETA";
                                    }else if (confirmedItem == false) {
                                        message += " has canceled item " + material + " from <a href= '" + url + "' class='third-text'> PO " + PONumber + "</a >";
                                    }else if (POQty != null) {
                                        message += " has approved item " + material + " from <a href= '" + url + "' class='third-text'> PO " + PONumber + "</a > for Qty: " + POQty;
                                    }
                                }else if (stage == "2") {
                                    if (confirmFirstETA == true) {
                                        message += " has accepted ETA for item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a >, please proceed to upload Proforma Invoice";
                                    }else if (confirmFirstETA == false) {
                                        message += " has declined ETA for item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a >";
                                    }else if (countEtaHistory > 0) {
                                        message += " has updated ETA for item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a >, please proceed to Confirm ETA";
                                    }
                                }else if (stage == "2a") {
                                    if (proformaInvoice != null) {
                                        message += " has uploaded proforma Invoice for item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a >";
                                    }else if (proformaInvoice == null) {
                                        message += " has skipped proforma Invoice for item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a >";
                                    }
                                }else if (stage == "3") {
                                    if (confirmedPaymentReceive != null) {
                                        message += " has updated Confirmed Payment received for item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a >";
                                    }else if (confirmedPaymentReceive == null) {
                                        message += " has skipped Confirmed Payment received for item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a >";
                                    }
                                }else if (stage == "4") {
                                    if (countProgressPhotos > 0) {
                                        message += " has uploaded Progress photos for item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a >";
                                    }else if (secondETAHistory != null) {
                                        message += " has updated the ETA for item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a >";
                                    }
                                }else if (stage == "5") {
                                    if (shipmentATD != null) {
                                        message += " has updated shipment Actual Time Delivery date at " + shipmentATD + " for item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a >";
                                    }else if (shipmentBookingDate != null) {
                                        message += " has updated shipment booking date at " + shipmentBookingDate + " for item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a >";
                                    }
                                }else if (stage == "6") {
                                    if (shipmentCopyBLDate != null) {
                                        message += " has updated shipment form and documents for item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a >, please continue to fill the shipment ATA";
                                    }
                                }else if (stage == "7") {
                                    if (shipmentATA != null) {
                                        message += " has updated shipment ATA at " + shipmentATA + " for item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a >";
                                    }
                                }else if (stage == "9") {
                                    if (invoiceDocument != null) {
                                        message += " has uploaded Invoice for item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a >";
                                    }
                                    else {
                                        message += " has removed Invoice for item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a >";
                                    }
                                }else {
                                    message += " has approved item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a > for Qty: " + POQty;
                                }
                                /*-------------------------------------------------------------END IMPORT-----------------------------------------------------------*/
                            }
                            else if (POTypeCategory == "Local") {
                                /*-------------------------------------------------------------BEGIN LOCAL----------------------------------------------------------*/
                                if (GRDate != null) {
                                    message += " has confirmed " + GRDate + " for item " + material + " from <a href='" + url + "' class='third-text'>PO" + PONumber + "</a> for Qty: " + GRQty + " (10/10)";
                                }else if (stage == "1") {
                                    if (confirmedItem == true) {
                                        message += " has approved item " + material + " from <a href= '" + url + "' class='third-text'> PO " + PONumber + "</a >, please proceed to update ETA";
                                    }else if (confirmedItem == false) {
                                        message += " has canceled item " + material + " from <a href= '" + url + "' class='third-text'> PO " + PONumber + "</a >";
                                    }else if (POQty != null) {
                                        message += " has approved item " + material + " from <a href= '" + url + "' class='third-text'> PO " + PONumber + "</a > for Qty: " + POQty;
                                    }
                                }else if (stage == "2") {
                                    if (confirmFirstETA == true) {
                                        message += " has accepted ETA for item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a >, please proceed to upload Proforma Invoice";
                                    }else if (confirmFirstETA == false) {
                                        message += " has declined ETA for item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a >";
                                    }else if (countEtaHistory > 0) {
                                        message += " has updated ETA for item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a >, please proceed to Confirm ETA";
                                    }
                                }
                                else if (stage == "2a") {
                                    if (proformaInvoice != null) {
                                        message += " has uploaded proforma Invoice for item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a >";
                                    } else if (proformaInvoice == null) {
                                        message += " has skipped proforma Invoice for item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a >";
                                    }
                                } else if (stage == "3") {
                                    if (confirmedPaymentReceive != null) {
                                        message += " has updated Confirmed Payment received for item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a >";
                                    } else if (confirmedPaymentReceive == null) {
                                        message += " has skipped Confirmed Payment received for item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a >";
                                    }
                                } else if (stage == "4") {
                                    if (countProgressPhotos > 0) {
                                        message += " has uploaded Progress photos for item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a >";
                                    } else if (secondETAHistory != null) {
                                        message += " has updated the ETA for item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a >";
                                    }
                                }else if (stage == "5") {
                                    if (statusID == 3) {
                                        message += " asked to update GR for item " + material + " from <a href= '" + url + "' class='third-text'> PO " + PONumber + "</a >";
                                    }
                                }else if (stage == "6") {
                                    if (statusID == 3) {
                                        message += " asked to update invoice method for item " + material + " from <a href= '" + url + "' class='third-text'> PO " + PONumber + "</a >";
                                    } else {
                                        message += " has updated invoice method for item " + material + " from <a href= '" + url + "' class='third-text'> PO " + PONumber + "</a >";
                                    }
                                }else if (stage == "7") {
                                    if (statusID == 3) {
                                        message += " asked to update invoice method for item " + material + " from <a href= '" + url + "' class='third-text'> PO " + PONumber + "</a >";
                                    } else {
                                        message += " has updated invoice method for item " + material + " from <a href= '" + url + "' class='third-text'> PO " + PONumber + "</a >";
                                    }
                                }else {
                                    message += " has approved item " + material + " from <a href= '" + url + "' class='third- text'> PO " + PONumber + "</a > for Qty: " + POQty;
                                }
                                /*---------------------------------------------------------------END LOCAL------------------------------------------------------------*/
                            } else if (POTypeCategory == "Subcont") {
                                /*-------------------------------------------------------------BEGIN SUBCONT----------------------------------------------------------*/
                                if (GRDate != null) {
                                    message += " has confirmed " + GRDate + " for item " + material + " from <a href='" + url + "' class='third-text'>PO" + PONumber + "</a> for Qty: " + GRQty + " (10/10)";
                                } else if (stage == "1") {
                                    //if (confirmedItem == true) {
                                    //    message += " asked to update ETA for item " + material + " from <a href= '" + url + "' class='third-text'> PO " + PONumber + "</a >";
                                    //} else
                                    if (confirmedItem == false) {
                                        message += " has canceled item " + material + " from <a href= '" + url + "' class='third-text'> PO " + PONumber + "</a >";
                                    } else if (POQty != null) {
                                        message += " has approved item " + material + " from <a href= '" + url + "' class='third-text'> PO " + PONumber + "</a > for Qty: " + POQty;
                                    }
                                } else if (stage == "2") {
                                    if (statusID == 3) {
                                        message += " asked to Define Sequences for item " + material + " from <a href= '" + url + "' class='third-text'> PO " + PONumber + "</a >";
                                    } else {
                                        message += " has updated Define Sequences for item " + material + " from <a href= '" + url + "' class='third-text'> PO " + PONumber + "</a >";
                                    }
                                } else if (stage == "3") {
                                    if (statusID == 3) {
                                        message += " asked to update Sequences Progress for item " + material + " from <a href= '" + url + "' class='third-text'> PO " + PONumber + "</a >";
                                    } else {
                                        assignedFrom = "";
                                        message += " has updated Sequences Progress for item " + material + " from <a href= '" + url + "' class='third-text'> PO " + PONumber + "</a >";
                                    }
                                } else if (stage == "4") {
                                    if (statusID == 3) {
                                        message += " asked to update GR for item " + material + " from <a href= '" + url + "' class='third-text'> PO " + PONumber + "</a >";
                                    }
                                    //else {
                                    //    message += " asked to update GR for item " + material + " from <a href= '" + url + "' class='third-text'> PO " + PONumber + "</a >";
                                    //}
                                } else if (stage == "5") {
                                    if (statusID == 3) {
                                        message += " asked to update invoice method for item " + material + " from <a href= '" + url + "' class='third-text'> PO " + PONumber + "</a >";
                                    } else {
                                        message += " has updated invoice method for item " + material + " from <a href= '" + url + "' class='third-text'> PO " + PONumber + "</a >";
                                    }
                                } else if (stage == "6") {
                                    if (statusID == 3) {
                                        message += " asked to upload invoice for item " + material + " from <a href= '" + url + "' class='third-text'> PO " + PONumber + "</a >";
                                    } else {
                                        message += " has uploaded invoice for item " + material + " from <a href= '" + url + "' class='third-text'> PO " + PONumber + "</a >";
                                    }
                                }

                                /*--------------------------------------------------------------END SUBCONT-----------------------------------------------------------*/
                            }

                            $(".list-unstyled.notification-list").append("<li class='notification-list-item'>" +
                                "<i class='" + className + "'></i>" +
                                "<div class='notification-message-container'>"+
                                "<p class='mb-1'>" +
                                assignedFrom + message +
                                "</p>"+
                                "<p class='secondary-text mb-0'>" + created.newDateFormatMMDD() + "</p>"+
                                "</div>"+
                            "</li>");
                        }
                    }
                },
                error: function (xhr, status, error) {
                    alert(xhr.status + " : " + error);
                }
            });
        });
    </script>
}
