<ul class="list-unstyled notification-list">
    <li class="notification-list-item">
        <i class="fas fa-check-circle approved"></i>
        <div class="notification-message-container">
            <p class="mb-1">
                Purchaser has accepted the delay of the
                production for item ENGINE KUBOTA Z482-E2B
                1500R E-GOV UT FA from <a href="#" class="third-text">PO 4720047467</a>
            </p>
            <p class="secondary-text mb-0">4h ago</p>
        </div>
    </li>
    <li class="notification-list-item">
        <i class="fas fa-exclamation-circle important"></i>
        <div class="notification-message-container">
            <p class="mb-1">
                Purchaser asked to upload Performa Invoice
                for item LOREM IPSUM D392-R2C 800R from
                <a href="#" class="third-text">PO 4720047580</a>
            </p>
            <p class="secondary-text mb-0">Yesterday</p>
        </div>
    </li>
    <li class="notification-list-item">
        <i class="fas fa-check-circle approved"></i>
        <div class="notification-message-container">
            <p class="mb-1">
                Purchaser chose DP as the term of payment for
                item LOREM IPSUM D392-R2C 800R from
                <a href="#" class="third-text">PO 4720047580</a>
            </p>
            <p class="secondary-text mb-0">Sep 14</p>
        </div>
    </li>
    <li class="notification-list-item">
        <i class="fas fa-times-circle rejected"></i>
        <div class="notification-message-container">
            <p class="mb-1">
                Purchaser has cancelled item EPDM RUBBER
                4503 from
                <a href="#" class="third-text">PO 472004747</a>
            </p>
            <p class="secondary-text mb-0">Aug 27</p>
        </div>
    </li>
    <li class="notification-list-item">
        <i class="fas fa-check-circle approved"></i>
        <div class="notification-message-container">
            <p class="mb-1">
                Purchaser has approved item ENGINE KUBOTA
                Z482-E2B 1500R E-GOV UT FA from <a href="#" class="third-text">PO 4720047467</a> for Qty: 2
            </p>
            <p class="secondary-text mb-0">Jul 18</p>
        </div>
    </li>
    <li class="notification-list-item">
        <i class="fas fa-check-circle approved"></i>
        <div class="notification-message-container">
            <p class="mb-1">
                Purchaser has confirmed GR on 18/12/2018 for item
                ENGINE KUBOTA Z482-E2B 1500R E-GOV UT
                FA from <a href="#" class="third-text">PO 4720047386</a> for Qty: 3 (10/10)
            </p>
            <p class="secondary-text mb-0">Jul 4</p>
        </div>
    </li>
    <li class="notification-list-item">
        <i class="fas fa-exclamation-circle important"></i>
        <div class="notification-message-container">
            <p class="mb-1">
                Purchaser has confirmed GR on 11/12/2018 for item
                ENGINE KUBOTA Z482-E2B 1500R E-GOV UT
                FA from <a href="#" class="third-text">PO 4720047386</a> for Qty: 7 (7/10)
            </p>
            <p class="secondary-text mb-0">Jun 30</p>
        </div>
    </li>
</ul>