
@{
    ViewBag.Title = "Unauthorized";
    //Layout = "~/Views/Shared/_LayoutMPS.cshtml";
}

<h1 class="text-danger">Access Denied</h1>
<h2 class="text-danger">You don't have permission to access this page.</h2>