<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://apps.altrovis.com/potracking</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.11.14</MSDeployServiceURL>
    <DeployIisAppPath>apps.altrovis.com/potracking</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>altrovis\appadmin</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="POTrackingEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=192.168.11.154;Initial Catalog=patria-db-po-tracking;User ID=sa;Password=DB@Sysad" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="POTrackingV2.Models.POTrackingEntities, POTrackingV2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="POTrackingEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.POTracking.csdl|res://*/Models.POTracking.ssdl|res://*/Models.POTracking.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.11.154;Initial Catalog=patria-db-po-tracking;User ID=sa;Password=DB@Sysad"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="POTrackingEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.POTracking.csdl|res://*/Models.POTracking.ssdl|res://*/Models.POTracking.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.11.154;Initial Catalog=patria-db-po-tracking;User ID=sa;Password=DB@Sysad"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="POTrackingEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.POTracking.csdl|res://*/Models.POTracking.ssdl|res://*/Models.POTracking.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.11.154;Initial Catalog=patria-db-po-tracking;User ID=sa;Password=DB@Sysad"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>