<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <!--<add name="POTrackingEntities" connectionString="metadata=res://*/Models.POTracking.csdl|res://*/Models.POTracking.ssdl|res://*/Models.POTracking.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srvpatriatest.database.windows.net;initial catalog=patria-db-po-tracking;persist security info=True;user id=adminsa;password=Password2018;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="POTrackingEntities" connectionString="metadata=res://*/Models.POTracking.csdl|res://*/Models.POTracking.ssdl|res://*/Models.POTracking.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.11.154;initial catalog=patria-db-po-tracking;persist security info=True;user id=sa;password=DB@Sysad;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><!--<add name="POTrackingEntities" connectionString="metadata=res://*/Models.POTracking.csdl|res://*/Models.POTracking.ssdl|res://*/Models.POTracking.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=patria-db-po-tracking;persist security info=True;user id=sa;password=metallicajkt25;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="POTrackingEntities" connectionString="metadata=res://*/Models.POTracking.csdl|res://*/Models.POTracking.ssdl|res://*/Models.POTracking.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.11.154;initial catalog=patria-db-po-tracking;persist security info=True;user id=sa;password=DB@Sysad;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AlertToolEntities" connectionString="metadata=res://*/AlertTool.csdl|res://*/AlertTool.ssdl|res://*/AlertTool.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.11.154;initial catalog=patria-db-alert-tools;user id=sa;password=DB@Sysad;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="SalesToolsEntities" connectionString="metadata=res://*/AlertTools.csdl|res://*/AlertTools.ssdl|res://*/AlertTools.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.11.154;initial catalog=patria-db-alert-tools;user id=sa;password=DB@Sysad;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>